
{% extends 'base.html' %}

{% block body %}

<h1 class="mt-3">Edit Project</h1>

<form action="{{url_for('update_project')}}" method="POST">
    <div class="form-group row">
        <div class="col-1"></div>
        <input type="hidden" name="db_project_id" value="{{project.id}}">
        <input type="text" value="{{project.name}}" name="project_name" class="form-control col-6">
        <button class="btn btn-primary btn-sm ml-2">Update</button>
        <a href="{{url_for('index')}}" class="btn btn-secondary btn-sm ml-2">Cancel</a>
    </div>
</form>

{% endblock %}

